#carre-contenu {
    padding: 50px;
    margin-bottom: 80px;
    display: grid;
    grid-template-columns: 650px 500px;
    gap: 20px;
    justify-content: center;
}

#carre-contenu h2 {
  margin-top: 20px;
}

#carre-contenu ul {
  margin-top: 20px;
}

h2 {
margin-bottom: 10px;
color: black;
}

main {
    position: relative;
    display: grid;
}

.image img {
    height: 587px;
    width: 362px;
}

.image {
    display: flex;
    align-items: center;
    justify-content: center;
}
